:root {
    --base-line-height: normal;
    --table-body-border-color: #c0c0c0;
}

nav a {
    color: var(--link-color);
}

#gotoTop {
    position: fixed;
    bottom: 100px;
    right: 10px;
}

#gotoTop a {
    color: var(--link-color);
}

toc .header {
    font-weight: bold;
}

toc .sub-header {
}

toc .link {
    text-decoration: none;
    /* color: var(--link-color) !important; */
    color: #58a6ff !important;
}

article a.data-type-tag {
    text-decoration: none !important;
    color: var(--code-theme-tag) !important;
}

article a.data-type-tag:hover {
    text-decoration: underline !important;
}

.sidebar-nav li p {
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.markdown-section th {
    border-color: var(--table-body-border-color);
    border-style: solid;
    border-width: 1px;
}

.markdown-section td {
    border-color: var(--table-body-border-color);
    border-style: solid;
    border-width: 1px;
}

.markdown-section tbody tr:nth-child(odd) {
    background: inherit !important;
}

.markdown-section tbody tr:nth-child(even) {
    background: inherit !important;
}
